$dark_blue:#274C5B;
$green:#7EB693;
$yellow:#EFD372;
$white:#FFFFFF;
$white_smoke:#F9F8F8;
$silver:#C4C4C4;
$light_silver:#DEDDDD;
$grey:#ABABAB;
$light_grey:#EFF6F1;
$river_bed:#525C60;


$roboto: "Roboto", serif;
$yellowtail: "Yellowtail", serif;
$open_sans: "Open Sans", serif;


